* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: inherit;
    border: 0;
    background: inherit;
}
html {
    font-size: 62.5%;
}
body {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 1.4rem;
}
img {
    max-width: 100%;
}
.button {
    border: 1px solid;
    border-radius: .5rem;
    padding: .4rem .6rem;
    color: blue;
    cursor: pointer;
}
.l-col {
    float: left;
    position: relative;
}
.l-col--half {
    width: 50%;
}
.l-fixed {
    left: 0;
    overflow-x: scroll;
    position: fixed;
    width: 100%;
}
.l-abs {
    left: 0;
    position: absolute;
    width: 100%;
}
.l-top {
    top: 0;
}
.l-bottom {
    bottom: 0;
}
.l-row {
    overflow-y: scroll;
}
.l-row--half {
    height: 50vh;
}
.l-row--1of3 {
    height: 33vh;
}
.l-row--2of3 {
    height: 67vh;
}

.u-list--horiz {
    list-style: none;
}
.u-list--horiz > li {
    display: block;
    float: left;
}
.u-clearfix:after {
    clear: both;
    content: '';
    display: block;
}
.u-hiddenLayer {
    pointer-events: none;
    position: absolute;
    visibility: hidden;
    z-index: -1;
}
.Timeline {
    background: blue;
    width: 9999rem;
}
.Timeline__item {
    width: 10vw;
}
